# ============================
# Gemini API
# ============================
GEMINI_API_KEY=

# ============================
# Email Configuration
# ============================
MY_EMAIL=
APP_PASSWORD=

# ============================
# MySQL Database
# ============================
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=